<<<<<<< HEAD
<style>
  /* Estilos para centrar el formulario */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura del contenedor */
  }

  .form-container {
    width: 80%; /* Ancho del formulario */
    max-width: 600px; /* Ancho máximo del formulario */
  }

  /* Otros estilos */
  /* Agrega tus estilos personalizados aquí */
</style>

=======
/* styles.css */

/* Estilos para el encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Estilos para el formulario */
form {
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
>>>>>>> b4987a293325516bd0daff26fbb329cdf7f48604
